*{
    background: #24283b;
    backgroundOP: #24283b88;
    foreground: #c0caf5;
    foregroundOP: #c0caf520;
    cursor: #c0caf5;
    selection-background: #2e3c64;
    selection-backgroundOP: #2e3c6410;
    color0: #60626D;
    color8: #414868;
    color1: #f7768e;
    color9: #ff899d;
    color2: #9ece6a;
    color10: #9fe044;
    color3: #e0af68;
    color11: #faba4a;
    color4: #7aa2f7;
    color12: #8db0ff;
    color5: #bb9af7;
    color13: #c7a9ff;
    color6: #7dcfff;
    color14: #a4daff;
    color7: #a9b1d6;
    color15: #c0caf5;
    selection-foreground: #c0caf5;

    border-color:          @foregroundOP;
    separatorcolor:        transparent;
    selected-background:   @selection-background;
    selected-backgroundOP:   @selection-backgroundOP;
    selected-foreground:   @selection-foreground;

    font: "Inter Display 12";
}

window {
    background-color: @backgroundOP;
    border: 5px;
    border-color: @border-color;
    border-radius: 12.6px;
    padding: 10px;
    width: 360px;
}

mainbox {
    spacing: 20px;
    padding: 0px;
    children: [ inputbar, message, listview ];
}

message {
    color: @foreground;
    padding: 5;
    border: 0px 2px 2px 2px;
    border-color: @cursor;
    background-color: @selection-background;
}

inputbar {
    background-color: @foregroundOP;
    border-radius: 100px;
    padding: 8px;
    spacing: 8px;
}

entry {
    background-color: transparent;
    text-color: @color4;
    cursor: @foreground;
    placeholder: "";
}

listview {
    background-color: transparent;
    spacing: 0px;
    scrollbar: false;
    columns: 1;
    lines: 8;
}

element {
    background-color: transparent;
    padding: 8px 10px;
    border-radius: 100px;
}


element-text {
    vertical-align: 0.5;
}


element-icon {
    size: 32px;
    background-color: @foregroundOP;
    border-radius: 100px;
    padding: 10px;
}

element selected.normal {
    background-color: @foregroundOP;
    text-color: @selection-foreground;
    border-radius: 50%;
}

element normal.normal,
element alternate.normal {
    background-color: transparent;
}
