@import "./colors.css";

* {
    background-image: none;
    box-shadow: none;
}

window {
    /*background-color: rgba(255, 255, 255, 0.1);*/
    /*background-color: rgba(46, 60, 100,0.2);*/
    background-color: transparent;
}

button {
    border-radius: 0;
    border-color: rgba(122, 162, 247, 0.2);
    border-width: 6px 0px;
    border-style: solid;
    /* text-decoration-color: @color4; */
    /* color: #cdd6f4; */
    background-color: rgba(46, 60, 100, 0.2);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    margin: 200px 0;
    padding: 100px 0;
}
button:first-child {
    border-radius: 999px 0 0 999px;
    border-width: 6px 0 6px 6px;
}
button:last-child {
    border-radius: 0 999px 999px 0;
    border-width: 6px 6px 6px 0px;
}

button:focus {
    background-color: rgba(122, 162, 247, 0.1);
}

button:active,
button:hover {
    /* 20% Overlay 2, 80% mantle */
    background-color: rgba(122, 162, 247, 0.2);
    outline-style: none;
}

#lock {
    background-image: url("./icons/lock.svg");
}

#logout {
    background-image: url("./icons/logout.svg");
}

#suspend {
    background-image: url("./icons/suspend.svg");
}

#hibernate {
    background-image: url("./icons/hibernate.svg");
}

#shutdown {
    background-image: url("./icons/shutdown.svg");
}

#reboot {
    background-image: url("./icons/reboot.svg");
}

button {
    color: transparent;
}
